<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChatApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF08FAC825D8830D00D33DEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF0EAAC8263DD69F00BFA969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF0EAAD8263DDC1600BFA969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
